body {
    background-color: #ffff;
    margin: 0;
    padding: 0;
}

.App {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    max-width: 900px;
    margin: 0 auto;
}

h1 {
    color: #333;
    font-size: 24px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.ChartContainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 900px;
    height: auto;
}

canvas {
    width: 100% !important;
    height: auto !important;
}
